{% load static %}

<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5862bcab4a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
        <title>Home</title>
    </head>
    <body>
        <div class="layout">
            <div class="contianer">
                <div class="container-content">
                    <header class="navbar-container">
                        <div class="navbar">
                            <div class="navbar-section" id="logo">
                                <img src="{% static 'main/imgs/site_logo.png' %}" alt="logo" id="img1">
                            </div>
                            <div class="navbar-section" id="buttons">
                                <div class="normal-button" id="contact-us">
                                    <a id="site-button" href="{% url 'index' %}">ارتباط با ما</a>
                                </div>
                                <div class="normal-button" id="about">
                                    <a id="site-button">درباره ما</a>
                                </div>
                                
                                {% if user.is_authenticated %}
                                    <a id="project" href="{% url 'submissions' %}">
                                        <p>ثبت / پیگیری طرح</p>
                                    </a>
                                {% endif %}
                                <div class="normal-button" id="news">
                                    <a id="site-button">اخبار هوگر</a>
                                </div>
                                {% if user.is_authenticated %}
                                    <div class="normal-button" id="logout">
                                        <a href="{% url 'logout' %}">
                                            خروج
                                        </a>
                                    </div>
                                {% endif %}
                                    
                            </div>
                            <div class="navbar-section" id="login-button">
                                
                                {% if user.is_authenticated %}
                                    <div id="user">
                                        <p>
                                            !! به هوگر خوش آمدی 
                                        </p>
                                    </div>
                                {% else %}
                                    <a href="{% url 'login' %}" id="login">
                                        <p>ورود / ثبت نام</p>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </header>
                    <div class="body-container">
                        {% block content %}
                        
                        {% endblock content %}
                    </div>
                    <footer class="footer-container">
                        <div class="footer">
                            <div class="footer-content">
                                <div class="contact-ways">
                                    <a href="#" class="contact-way" id="email">
                                        <i class="fa-solid fa-envelope"></i>
                                        <p style="margin: 0;">Email Us</p>
                                    </a>
                                    <a href="https://t.me/+pDLLMixRtuFjZTk0" class="contact-way" id="telegram">
                                        <i class="fa-brands fa-telegram"></i>
                                        <p style="margin: 0;">Telegram</p>
                                    </a>
                                    <a href="https://www.instagram.com/huger.14?igsh=bGV0bmI4enBoNTRw" class="contact-way" id="instagram">
                                        <i class="fa-brands fa-instagram"></i>
                                        <p style="margin: 0;">Instagram</p>
                                    </a>
                                    <a href="#" class="contact-way" id="ticket">
                                        <i class="fa-solid fa-ticket"></i>
                                        <p style="margin: 0;">Ticket</p>
                                    </a>
                                </div>
                                <div class="policy">
                                    <p>تمام حقوق این سایت متعلق به تیم طراحی هوگر می باشد .</p>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <script src="{% static 'main/js/main.js' %}"></script>
    </body>
</html>