{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
        <title>Register</title>
    </head>
    <body>
        <div class="container">
            <div class="form-container">
                <div class="form">
                    <div class="form-info">
                        {% if message %}
                            <div>{{ message }}</div>
                        {% endif %}
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="form-group">
                                    <strong>نام و نام حانوادگی :</strong>
                                    <input autofocus class="form-control" type="text" name="username" required>
                                </div>
                                <div class="form-group">
                                    <strong>ایمیل</strong>
                                    <input autofocus class="form-control" type="text" name="email" required>
                                </div>
                                <div class="form-group">
                                    <strong>رمز عبور :</strong>
                                    <input class="form-control" type="password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <strong>تایید رمز عبور :</strong>
                                    <input class="form-control" type="password" name="confirmation" required>
                                </div>
                            </div>
                            <div class="submit-input">
                                <button type="submit" class="pushable">
                                    <span class="front">
                                        ثبت نام
                                    </span>
                                </button>
                            </div>
                        </form>
                        <div class="alt">
                            <p>اکانت دارید ؟؟</p>
                            <a href="{% url 'login' %}">وارد شوید.</a>
                        </div>
                        <div class="curve">
                            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
                            </svg>
                            <p>ثبت نام</p>
                        </div>
                    </div>
                    
                </div> 
            </div>
        </div>
    </body>
</html>
    


