{% extends 'main/layout.html' %}

{% block content %}
    <div class="project-page">
        <div class="submit-project">
            <a id="submit" href="{% url "submit" %}">
                <i class="fa-solid fa-plus"></i>
                <p>ثبت طرح جدید</p>
            </a>
        </div>
        <div class="projects">
            <div class="project-container">
                
                {% for project in projects %}
                    <div class="project">
                        <div class="p_image">
                    
                        </div>
                        <div class="p_subject">
                            <p>{{project.p_Subject}}</p>
                        </div>
                        <div class="p_members">
                            
                            {% for member in project.p_Members.all %}
                                <div class="member">
                                    <p>{{member.email}}</p>
                                </div>
                                {% empty %}
                                <div class="member">
                                    <p>عضوی وجود ندارند.</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="status">
                            <div class="state">
                                {% if project.isChecked == False %}
                                    <p>...در حال پردازش</p>
                                    {% else %}
                                    <p>.تایید شد</p>
                                {% endif %}
                            </div>
                            <div class="project-page">
                                <a href="{% url "project" project.code %}">بررسی پژوهش</a>
                            </div>
                            
                                
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}