{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="project-page">
        <div class="submit-project">
            <a id="submit" href="{% url 'submit' %}">
                <i class="fa-solid fa-plus"></i>
                <p>ثبت طرح جدید</p>
            </a>
        </div>
        <div class="projects">
            <div class="project-container">
                {% for project in projects %}
                    <div class="project">
                        <div class="p_image">
                            {% for image in images %}
                                {% if image.project_model == project %}
                                    <img src="media/{{image.image}}" alt="img">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="p_subject">
                            <p>{{project.p_Subject}} : نام طرح</p>
                        </div>
                        <div class="p_members">
                            <p>اعضا :</p>
                            <ul class="member">
                            {% for member in project.p_Members.all %}
                               
                                <li>{{member.name}}{{member.surname}}</li>
                                
                                {% empty %}
                                <div class="member">
                                    <p>عضوی وجود ندارند.</p>
                                </div>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="status">
                            <div class="state">
                                {% if project.isChecked == False %}
                                    <p style="color: red;">...در حال پردازش</p>
                                    {% else %}
                                    <p style="color: green;">.تایید شد</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="empty">
                        <div class="text">
                            <p>متاسفانه هنوز طرحی ثبت نکردی :(</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}