@font-face {
  font-family: "Main";
  src: url("../fonts/Dana-Medium.woff");
}
html {
  min-height: 100vh;
  overflow: auto;
}

body {
  min-height: 100vh;
  overflow: auto;
  background-color: #f0f0f1;
  direction: rtl;
  font-family: "Main";
}

html, body {
  margin: 0;
  padding: 0;
}

svg {
  position: absolute;
  z-index: -1;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-image: url("../imgs/nnnoise.svg");
}
.container .layout {
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.476);
  position: relative;
}
.container .layout .slider {
  position: absolute;
  overflow: hidden;
  z-index: 9999;
  transition: 0.8s transform ease;
  transform: translate(0%);
  position: absolute;
  left: 0;
  width: 400px;
  height: 100%;
  background-color: #a67dd9;
  border-radius: 10px;
  overflow: hidden;
}
.container .layout .slider .slider-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.container .layout .slider .slider-content .sign-in {
  transition: 1s transform ease;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .layout .slider .slider-content .sign-in .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .layout .slider .slider-content .sign-in .welcome #header {
  width: fit-content;
  font-size: 1.4rem;
  color: white;
}
.container .layout .slider .slider-content .sign-in .welcome #text {
  width: 100%;
  text-align: center;
  height: fit-content;
  margin: 0;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: white;
}
.container .layout .slider .slider-content .sign-in .sign-in-button {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  display: grid;
  place-content: center;
}
.container .layout .slider .slider-content .sign-in .sign-in-button .change-button {
  transition: 0.6s box-shadow ease;
  width: 100px;
  border-radius: 30px;
  outline: none;
  border: 0px solid transparent;
  padding: 10px;
  font-size: 0.9rem;
  font-family: "Main";
  background-color: white;
  font-weight: 500;
}
.container .layout .slider .slider-content .sign-in .sign-in-button .change-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px white;
}
.container .layout .slider .slider-content .register {
  transition: 1s transform ease;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .layout .slider .slider-content .register .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .layout .slider .slider-content .register .welcome #header {
  width: fit-content;
  font-size: 1.4rem;
  color: white;
}
.container .layout .slider .slider-content .register .welcome #text {
  width: 100%;
  text-align: center;
  height: fit-content;
  margin: 0;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: white;
}
.container .layout .slider .slider-content .register .register-button {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  display: grid;
  place-content: center;
}
.container .layout .slider .slider-content .register .register-button .change-button {
  transition: 0.6s box-shadow ease;
  width: 100px;
  border-radius: 30px;
  outline: none;
  border: 0px solid transparent;
  padding: 10px;
  font-size: 0.9rem;
  font-family: "Main";
  background-color: white;
  font-weight: 500;
}
.container .layout .slider .slider-content .register .register-button .change-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px white;
}
.container .layout .login-container {
  width: 400px;
  height: 100%;
}
.container .layout .login-container .form {
  width: 100%;
  height: 100%;
}
.container .layout .login-container .form .form-content {
  width: 100%;
  height: 100%;
}
.container .layout .login-container .form .form-content form {
  font-family: "Main";
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.container .layout .login-container .form .form-content form .form-header {
  height: 40px;
  display: grid;
  place-content: center;
}
.container .layout .login-container .form .form-content form .form-header p {
  font-size: 1.8rem;
  margin: 0;
}
.container .layout .login-container .form .form-content form .form-body {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .layout .login-container .form .form-content form .form-body .form-group {
  width: 250px;
  height: 40px;
}
.container .layout .login-container .form .form-content form .form-body .form-group p {
  height: 100%;
  font-size: 0.9rem;
  margin: 0;
  display: grid;
  place-content: center;
  color: #a67dd9;
}
.container .layout .login-container .form .form-content form .form-body .form-group p:hover {
  color: #883de4;
  cursor: pointer;
}
.container .layout .login-container .form .form-content form .form-body .form-group .form-control {
  transition: 1s border-color ease, 1s border-size ease;
  direction: rtl;
  width: 100%;
  height: 100%;
  font-family: "Main";
  border: 0px solid white;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgb(216, 216, 216);
}
.container .layout .login-container .form .form-content form .form-body .form-group .form-control:focus {
  transition: 1s border-color ease;
  border: 1px solid #a67dd9;
  outline: none;
}
.container .layout .login-container .form .form-content form .submit-input {
  width: 100%;
  height: 40px;
  display: grid;
  place-content: center;
  margin-top: 20px;
}
.container .layout .login-container .form .form-content form .submit-input .submit-button {
  transition: 0.6s box-shadow ease;
  position: relative;
  width: 130px;
  height: 40px;
  background: linear-gradient(to left, #5d66ea, #a67dd9);
  border: 0px;
  border-radius: 9999px;
  display: grid;
  place-content: center;
}
.container .layout .login-container .form .form-content form .submit-input .submit-button .submit-text {
  margin: 0;
  color: white;
  font-family: "Main";
  font-size: 1rem;
  padding-bottom: 3px;
}
.container .layout .login-container .form .form-content form .submit-input .submit-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px #5d66ea;
}
.container .layout .register-container {
  width: 400px;
  height: 100%;
}
.container .layout .register-container .form {
  width: 100%;
  height: 100%;
}
.container .layout .register-container .form .form-content {
  width: 100%;
  height: 100%;
}
.container .layout .register-container .form .form-content form {
  font-family: "Main";
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.container .layout .register-container .form .form-content form .form-header {
  height: 40px;
  display: grid;
  place-content: center;
}
.container .layout .register-container .form .form-content form .form-header p {
  font-size: 1.8rem;
  margin: 0;
}
.container .layout .register-container .form .form-content form .form-body {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .layout .register-container .form .form-content form .form-body .form-group {
  width: 250px;
  height: 40px;
}
.container .layout .register-container .form .form-content form .form-body .form-group .form-control {
  transition: 1s border-color ease, 1s border-size ease;
  direction: rtl;
  width: 100%;
  height: 100%;
  font-family: "Main";
  border: 0px solid white;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgb(216, 216, 216);
}
.container .layout .register-container .form .form-content form .form-body .form-group .form-control:focus {
  transition: 1s border-color ease;
  border: 1px solid #a67dd9;
  outline: none;
}
.container .layout .register-container .form .form-content form .submit-input {
  width: 100%;
  height: 40px;
  display: grid;
  place-content: center;
  margin-top: 20px;
}
.container .layout .register-container .form .form-content form .submit-input .submit-button {
  transition: 0.6s box-shadow ease;
  position: relative;
  width: 130px;
  height: 40px;
  background: linear-gradient(to right, #5d66ea, #a67dd9);
  border: 0px;
  border-radius: 9999px;
  display: grid;
  place-content: center;
}
.container .layout .register-container .form .form-content form .submit-input .submit-button .submit-text {
  margin: 0;
  color: white;
  font-family: "Main";
  font-size: 1rem;
  padding-bottom: 3px;
}
.container .layout .register-container .form .form-content form .submit-input .submit-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px #5d66ea;
}

/*# sourceMappingURL=login.css.map */
